{% extends 'base.html.twig' %}
{% import "macros/widgets.html.twig" as widgets %}
{% import "customer/actions.html.twig" as actions %}

{% block page_actions %}{{ actions.customer(customer, 'details') }}{% endblock %}
{% block page_title %}{{ 'admin_customer.title'|trans }}{% endblock %}

{% block main %}
    {% set can_edit = is_granted('edit', customer) %}

    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
        {% import "macros/widgets.html.twig" as widgets %}
        {% block box_attributes %}id="customer_details_box"{% endblock %}
        {% block box_title %}
            {{ widgets.label_customer(customer) }}
        {% endblock %}
        {% block box_tools %}
            {% if can_edit %}
                <a class="modal-ajax-form open-edit btn btn-default btn-sm" data-href="{{ path('admin_customer_edit', {'id': customer.id}) }}" data-toggle="tooltip" data-placement="top" title="{{ 'action.edit'|trans }}"><i class="{{ 'edit'|icon }}"></i></a>
            {% endif %}
        {% endblock %}
        {% block box_body_class %}no-padding{% endblock %}
        {% block box_body %}
            <table class="table table-hover dataTable">
              {% if customer.idDocumentType is not empty and customer.idDocumentType.name is not empty%}
                    <tr>
                        <th>{{ 'label.id_document_type'|trans }}</th>
                        <td>
                            {{ customer.idDocumentType.name|nl2br }}
                        </td>
                    </tr>
                {% endif %}
                {% if customer.number is not empty%}
                    <tr>
                        <th>{{ 'label.number'|trans }}</th>
                        <td>
                            {{ customer.number|nl2br }}
                        </td>
                    </tr>
                {% endif %}
                {% if customer.idState is not empty and customer.idState.name is not empty%}
                    <tr>
                        <th>{{ 'label.id_state'|trans }}</th>
                        <td>
                            {{ customer.idState.name|nl2br }}
                        </td>
                    </tr>
                {% endif %}
                  {% if customer.idCity is not empty and customer.idCity.name is not empty%}
                    <tr>
                        <th>{{ 'label.id_city'|trans }}</th>
                        <td>
                            {{ customer.idCity.name|nl2br }}
                        </td>
                    </tr>
                {% endif %}
                 {% if customer.address is not empty %}
                    <tr>
                        <th>{{ 'label.address'|trans }}</th>
                        <td>
                            {{ customer.address|nl2br }}
                        </td>
                    </tr>
                {% endif %}

                {% if customer.address is not empty %}
                    <tr>
                        <th>{{ 'label.address'|trans }}</th>
                        <td>
                            {{ customer.address|nl2br }}
                        </td>
                    </tr>
                {% endif %}
              {% if customer.phone is not empty %}
                    <tr>
                        <th>{{ 'label.phone'|trans }}</th> 
                        <td><a href="tel:{{ customer.phone }}">{{ customer.phone }}</a></td>
                    </tr>
                {% endif %}
                {% if customer.mobile is not empty %}
                    <tr>
                        <th>{{ 'label.mobile'|trans }}</th> 
                        <td><a href="tel:{{ customer.mobile }}">{{ customer.mobile }}</a></td>
                    </tr>
                {% endif %}
                {% if customer.email is not empty %}
                    <tr>
                        <th>{{ 'label.email'|trans }}</th>
                        <td><a href="mailto:{{ customer.email }}">{{ customer.email }}</a></td>
                    </tr>
                {% endif %}
                 {% if customer.visible is not empty%}
                    <tr>
                        <th>{{ 'label.visible'|trans }}</th>
                        <td>
                            {{ widgets.label_boolean(customer.visible) }}
                        </td>
                    </tr>
                {% endif %}
            </table>
        {% endblock %}
    {% endembed %}

    {% if comments is not null %}
        {% set options = {'form': commentForm, 'comments': comments} %}
        {% if can_edit %}
            {% set options = options|merge({'route_pin': 'customer_comment_pin', 'route_delete': 'customer_comment_delete'}) %}
        {% endif %}
        {{ include('embeds/comments.html.twig', options) }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        document.addEventListener('kimai.initialized', function() {
            KimaiReloadPageWidget.create('kimai.customerTeamUpdate kimai.customerUpdate kimai.teamUpdate kimai.projectTeamUpdate kimai.projectUpdate kimai.rateUpdate');
        });
    </script>
{% endblock %}
