{% extends app.request.xmlHttpRequest ? 'form.html.twig' : 'base.html.twig' %}
{% import "customer/actions.html.twig" as actions %}

{% block page_title %}
	{{ 'admin_customer.title'|trans }}
{% endblock %}
{% block page_actions %}
	{{ actions.customer(customer, 'edit') }}
{% endblock %}

{% block main %}
	{% set formEditTemplate = app.request.xmlHttpRequest ? 'default/_form_modal.html.twig' : 'default/_form.html.twig' %}
	{% set formOptions = {
        'title': customer.name|default('create'|trans),
        'form': form,
        'back': path('admin_customer')
    } %}
	{% embed formEditTemplate with formOptions %}
		{% block form_body %}
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.idDocumentType) }}
				</div>
				<div class="col-md-8">
					{{ form_row(form.number) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					{{ form_row(form.name) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.birthDay) }}
				</div>
				<div class="col-md-4">
					{{ form_row(form.gender) }}
				</div>
				<div class="col-md-4">
					{{ form_row(form.color) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.idState) }}
				</div>
				<div class="col-md-4">
					{{ form_row(form.idCity) }}
				</div>
				<div class="col-md-4">
					{{ form_row(form.address) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					{{ form_row(form.mobile) }}
				</div>
				<div class="col-md-4">
					{{ form_row(form.phone) }}
				</div>
				<div class="col-md-4">
					{{ form_row(form.email) }}
				</div>
			</div>
			{{ form_row(form.visible) }}
		{% endblock %}
	{% endembed %}
{% endblock %}
